# Exact frozen originals preserved by the 20260923 WIP checkpoint transport.
# New filenames stay visible; named reproducible dependency/cache directories remain local.
# Reconstruction: ../../../../../../../../../../../20260923_WIP_CHECKPOINT/README.md
/src/main/scala/com/cdme/executor/DataFrameExecutor.scala
/src/main/scala/com/cdme/executor/ErrorSink.scala
/src/test/scala/com/cdme/executor/DataFrameExecutorSpec.scala
/target/scala-2.13/classes/com/cdme/executor/DataFrameExecutor.class
/target/scala-2.13/classes/com/cdme/executor/ErrorSink.class
/target/scala-2.13/sync/copy-resource
/target/scala-2.13/test-classes/com/cdme/executor/DataFrameExecutorSpec$$anonfun$1.class
/target/scala-2.13/test-classes/com/cdme/executor/DataFrameExecutorSpec$$typecreator10$1.class
/target/scala-2.13/test-classes/com/cdme/executor/DataFrameExecutorSpec$$typecreator10$2.class
/target/scala-2.13/test-classes/com/cdme/executor/DataFrameExecutorSpec$$typecreator20$1.class
/target/scala-2.13/test-classes/com/cdme/executor/DataFrameExecutorSpec$$typecreator30$1.class
/target/scala-2.13/test-classes/com/cdme/executor/DataFrameExecutorSpec$$typecreator40$1.class
/target/scala-2.13/test-classes/com/cdme/executor/DataFrameExecutorSpec$$typecreator50$1.class
/target/scala-2.13/test-classes/com/cdme/executor/DataFrameExecutorSpec$$typecreator60$1.class
/target/scala-2.13/test-classes/com/cdme/executor/DataFrameExecutorSpec$$typecreator70$1.class
/target/scala-2.13/test-classes/com/cdme/executor/DataFrameExecutorSpec$$typecreator80$1.class
/target/scala-2.13/test-classes/com/cdme/executor/DataFrameExecutorSpec$$typecreator90$1.class
/target/scala-2.13/test-classes/com/cdme/executor/DataFrameExecutorSpec.class
/target/scala-2.13/test-sync/copy-resource
/target/scala-2.13/test-zinc/inc_compile_2.13.zip
/target/scala-2.13/update/update_cache_2.13/inputs
/target/scala-2.13/update/update_cache_2.13/output
/target/scala-2.13/zinc/inc_compile_2.13.zip
/target/streams/_global/_global/_global/streams/out
/target/streams/_global/csrConfiguration/_global/streams/out
/target/streams/_global/csrProject/_global/streams/out
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/input_dsp
/target/streams/_global/dependencyPositions/_global/streams/update_cache_2.13/output_dsp
/target/streams/_global/ivyConfiguration/_global/streams/out
/target/streams/_global/ivySbt/_global/streams/out
/target/streams/_global/moduleSettings/_global/streams/out
/target/streams/_global/projectDescriptors/_global/streams/out
/target/streams/_global/scalaCompilerBridgeScope/_global/streams/out
/target/streams/_global/update/_global/streams/out
/target/streams/compile/_global/_global/compileOutputs/previous
/target/streams/compile/_global/_global/discoveredMainClasses/data
/target/streams/compile/bspReporter/_global/streams/out
/target/streams/compile/compile/_global/streams/out
/target/streams/compile/compileIncremental/_global/streams/export
/target/streams/compile/compileIncremental/_global/streams/out
/target/streams/compile/copyResources/_global/streams/out
/target/streams/compile/dependencyClasspath/_global/streams/export
/target/streams/compile/exportedProducts/_global/streams/export
/target/streams/compile/externalDependencyClasspath/_global/streams/export
/target/streams/compile/incOptions/_global/streams/out
/target/streams/compile/internalDependencyClasspath/_global/streams/export
/target/streams/compile/internalDependencyClasspath/_global/streams/out
/target/streams/compile/managedClasspath/_global/streams/export
/target/streams/compile/scalacOptions/_global/streams/out
/target/streams/compile/unmanagedClasspath/_global/streams/export
/target/streams/compile/unmanagedClasspath/_global/streams/out
/target/streams/compile/unmanagedJars/_global/streams/export
/target/streams/runtime/exportedProducts/_global/streams/export
/target/streams/runtime/unmanagedJars/_global/streams/export
/target/streams/test/_global/_global/compileOutputs/previous
/target/streams/test/_global/_global/definedTestNames/data
/target/streams/test/_global/_global/dependencyClasspathFiles/previous
/target/streams/test/_global/_global/discoveredMainClasses/data
/target/streams/test/bspReporter/_global/streams/out
/target/streams/test/compile/_global/streams/out
/target/streams/test/compileIncremental/_global/streams/export
/target/streams/test/compileIncremental/_global/streams/out
/target/streams/test/copyResources/_global/streams/out
/target/streams/test/definedTests/_global/streams/out
/target/streams/test/dependencyClasspath/_global/streams/export
/target/streams/test/exportedProducts/_global/streams/export
/target/streams/test/externalDependencyClasspath/_global/streams/export
/target/streams/test/fullClasspath/_global/streams/export
/target/streams/test/incOptions/_global/streams/out
/target/streams/test/internalDependencyClasspath/_global/streams/export
/target/streams/test/internalDependencyClasspath/_global/streams/out
/target/streams/test/loadedTestFrameworks/_global/streams/out
/target/streams/test/managedClasspath/_global/streams/export
/target/streams/test/scalacOptions/_global/streams/out
/target/streams/test/test/_global/streams/out
/target/streams/test/test/_global/streams/succeeded_tests
/target/streams/test/testListeners/_global/streams/out
/target/streams/test/unmanagedClasspath/_global/streams/export
/target/streams/test/unmanagedClasspath/_global/streams/out
/target/streams/test/unmanagedJars/_global/streams/export
/target/test-reports/TEST-com.cdme.executor.DataFrameExecutorSpec.xml
